{% extends 'base.html.twig' %}

{% block title %}Edit Credentials{% endblock %}

{% block body %}
    <h1>Edit Credentials</h1>

    {{ include('credentials/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_credentials_index') }}">back to list</a>

    {{ include('credentials/_delete_form.html.twig') }}
{% endblock %}
