{% extends 'base.html.twig' %}

{% block title %}New Credentials{% endblock %}

{% block body %}
    <h1>Create new Credentials</h1>

    {{ include('credentials/_form.html.twig') }}

    <a href="{{ path('app_credentials_index') }}">back to list</a>
{% endblock %}
