{% extends '@EasyAdmin/layout.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-lg-6">
            {{ include('@EasyAdmin/crud/new.html.twig', {entity_name: 'Credentials'}) }}
            {# Include the new form for the 'Credentials' entity #}
        </div>
        <div class="col-lg-6">
            {{ include('@EasyAdmin/default/new.html.twig', {entity_name: 'Objectif'}) }}
            {# Include the new form for the 'Objectif' entity #}
            {{ include('@EasyAdmin/default/new.html.twig', {entity_name: 'Workstreams'}) }}
            {# Include the new form for the 'Workstreams' entity #}
        </div>
    </div>
{% endblock %}
