{% extends 'base.html.twig' %}

{% block title %}Edit Objectives{% endblock %}

{% block body %}
    <h1>Edit Objectives</h1>

    {{ include('objectives/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_objectives_index') }}">back to list</a>

    {{ include('objectives/_delete_form.html.twig') }}
{% endblock %}
